.welcome-header {
    /* margin-top: 90px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
  }
  .welcome-header__title {
    /* margin-bottom: 40px; */
    font-size: 25px;
  }
  .welcome-header__text {
    width: 60%;
    opacity: 0.7;
    /* margin-bottom: 90px; */
  }